/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte padrão */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilo do cabeçalho */
header {
    background-color: #000;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: flex-start; /* Alinha os elementos à esquerda */
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
}

.nav {
    display: none; /* Inicialmente oculto */
}

.nav.active {
    display: block; /* Exibido quando a classe active é aplicada */
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-left: 20px; /* Adiciona um espaçamento à esquerda */
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    position: relative;
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f4f4f4;
}

/* Responsivo */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .nav-links {
        flex-direction: column;
        align-items: center;
    }
    .nav-links li {
        margin: 10px 0;
    }
    nav.active {
        display: flex;
    }
}

/* Estilo do rodapé */
footer {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

/* Estilo da seção herói */
.hero-section {
    background-color: #f4f4f4;
    padding: 80px 0;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.presentation-text {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 30px;
}

.highlight {
    font-size: 22px;
    color: #222;
    font-weight: bold;
    margin-bottom: 40px;
}

/* Responsivo */
@media (max-width: 768px) {
    .hero-content {
        padding: 0 20px;
    }

    .site-title {
        font-size: 36px;
        margin-bottom: 15px;
    }

    .presentation-text {
        font-size: 16px;
    }

    .highlight {
        font-size: 18px;
    }
}

/* Estilo do título */
.site-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo do conteúdo do card */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 20px;
}

/* Ajuste do layout para colocar as respostas ao lado do formulário */
.card-container {
    display: flex;
    gap: 20px;
}

.search-card {
    flex: 1;
}

.response-card {
    flex: 1;
}

/* Estilo do formulário */
.search-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.search-form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.search-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.search-form input,
.search-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    align-self: flex-start;
}

.search-form button:hover {
    background-color: #555;
}

/* Estilo do texto do card */
.presentation-text {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Estilo para links */
.presentation-text a {
    color: #007bff; /* cor azul do link */
    text-decoration: underline;
    transition: color 0.3s;
}

.presentation-text a:hover {
    color: #0056b3; /* cor azul do link mais escura quando hover */
}

/* Estilo para o link da Revista Brasileira de História da Educação */
.presentation-text a[href^="http://www.rbhe.sbhe.org.br"]::after {
    content: " (Revista Brasileira de História da Educação)";
    font-style: italic;
    color: #777;
}

/* Estilo da resposta */
.response-card h2 {
    margin-bottom: 15px;
}

.response-content ul {
    list-style: none;
    padding-left: 0;
}

.response-content li {
    margin-bottom: 10px;
}

.response-content p {
    font-size: 16px;
}

/* Responsivo */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
    }
}
