body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-form {
    width: 30%;
    padding: 20px;
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
}

.search-form h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.search-form form {
    display: flex;
    flex-direction: column;
}

.search-form form div {
    margin-bottom: 10px;
}

.search-form form label {
    font-weight: bold;
}

.search-form form input,
.search-form form select,
.search-form form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
}

.search-form form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.search-form form button:hover {
    background-color: #0056b3;
}

.results {
    width: 65%;
    padding: 20px;
}

.results h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

ul li strong {
    display: block;
    color: #333;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
